/* .App { */

/* font-family: "Questrial", sans-serif; */
/* font-family: "Heebo", sans-serif; */
/* font-family: "Hind Siliguri", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* } */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
  max-width: 1500px;
  margin: auto;
}

.navbar {
  color: white;
  width: 100%;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}
.school-details {
  /* background-image: url(./images/university.jpg); */
  background-color: #8e94f2;
  background-size: 100%;
  /* background-position: center;
  background-position-y: -28em;
  background-repeat: no-repeat; */
  text-align: center;
  height: 24em;
}

.school-text {
  margin-top: 40px;
  color: white;
}

.add-btn {
  float: right;
}

.search-bar {
  width: 200px;
}

.school-card {
  width: 18rem;
  min-height: 26rem;
  margin: 15px auto;
  box-shadow: 0px 4px 10px rgba(25, 4, 69, 0.1);
}

.user-schools-card {
  /* width: 10rem; */
  background-color: transparent;
  border: transparent;
}

.user-category-card {
  /* min-width: 18rem; */
  margin: 25px auto;
  /* border-top-color: #86b2f3; */
  /* border-top-width: 12px; */
  box-shadow: 0px 4px 10px rgba(25, 4, 69, 0.1);
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  padding-top: 7rem;
}

.categories-row {
  width: 100%;
  margin: auto;
  /* margin-right: -95px; */
}

.delete-icon {
  color: white;
}

.categories-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  /* margin-left: 250px; */
}

.delete-category-btn,
.delete-category-btn:hover {
  margin-top: 12px;
  background-color: #f47457;
  border-color: transparent;
  color: white;
  /* box-shadow: 0 3px 5px 2px rgba(231, 29, 54, 0.3); */
}

.create-category-btn {
  background-color: #54bfa1;
  border-color: transparent;
}

.create-category-btn:hover {
  background-color: white;
  color: #54bfa1;
  border-color: #54bfa1;
}

.school-list-item {
  /* border: 1px solid lightgrey; */
  border-left: 8px solid #8e94f2;
  margin-bottom: 8px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(25, 4, 69, 0.1);
}

.chart-card {
  width: 38rem;
  height: 32rem;
  margin: 25px auto;
}

.chart-text {
  background-color: #8e94f2;
  color: white;
}

.chart-body {
  margin-top: -26px;
}

.profile-header {
  margin-top: 12px;
  text-decoration: underline;
  text-decoration-color: #f7cc7e;
}

.logout-btn {
  background-color: #8e94f2;
  border-color: transparent;
}

.logout-btn:hover {
  background-color: #44beff;
  border-color: transparent;
}

.user-welcome {
  margin-top: 80px;
  margin-left: -200px;
  float: left;
}

.compare-schools {
  background-color: #8e94f2;
  color: white;
  border: none;
}

.learn-more,
.learn-more:hover {
  background-color: #54bfa1;
  color: white;
  border-color: transparent;
}

.add-school-btn,
.add-school-btn:hover {
  background-color: #54bfa1;
  color: white;
  border-color: transparent;
}

.add-school {
  width: 100%;
  background-color: white;
  color: #8e94f2;
  border-color: transparent;
  box-shadow: 0px 4px 10px rgba(25, 4, 69, 0.15);
}

.add-school:hover {
  background-color: #8e94f2;
  color: white;
  border-color: transparent;
  box-shadow: 0px 4px 10px rgba(25, 4, 69, 0.15);
}

.category-name-header {
  color: white;
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 800px;
  height: 700px;
  transform: translate(-50%, -86%);
  padding-bottom: 2rem;
  border-radius: 50%;
  background: linear-gradient(90deg, #4e54c8 20%, #8f94fb 70%);
  /* background-color: #86b2f3; */
}

.state-avatar {
  width: 2px;
  height: 2px;
  background-color: linear-gradient(45deg, #9fa0ff 30%, #00d4ff 90%);
  color: white;
}
