/* .App { */

/* font-family: "Questrial", sans-serif; */
/* font-family: "Heebo", sans-serif; */
/* font-family: "Hind Siliguri", sans-serif; */
/* font-family: "Poppins", sans-serif; */
/* } */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

body {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

a,
a:hover {
  color: black;
}
.school-details {
  /* background-image: url(./images/university.jpg); */
  background-color: #8e94f2;
  background-size: 100%;
  background-position: center;
  background-position-y: -28em;
  background-repeat: no-repeat;
  text-align: center;
  height: 24em;
}

.school-text {
  margin-top: 40px;
  color: white;
}

.add-btn {
  float: right;
}

.search-bar {
  width: 200px;
}

.school-card {
  width: 18rem;
  min-height: 26rem;
  margin: 15px auto;
}

.user-school-card {
  width: 10rem;
}

.user-category-card {
  /* min-width: 18rem; */
  margin: 25px auto;
}

.categories-row {
  width: 1400px;
  margin-right: -95px;
}

.delete-icon {
  color: white;
}

.categories-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 250px;
}

.delete-category-btn,
.delete-category-btn:hover {
  margin-top: 12px;
  background-color: #e71d36;
  border-color: transparent;
  color: white;
  /* box-shadow: 0 3px 5px 2px rgba(231, 29, 54, 0.3); */
}

.create-category-btn {
  background-color: #0e9c97;
  border-color: transparent;
}

.create-category-btn:hover {
  background-color: white;
  color: #0e9c97;
  border-color: #0e9c97;
}

.school-list-item {
  border: 1px solid lightgrey;
  margin-bottom: 8px;
}

.chart-card {
  width: 38rem;
  height: 32rem;
  margin: 25px auto;

  /* padding-right: 10em; */
  /* text-align: center; */
}

.chart-text {
  background-color: #8e94f2;
  color: white;
}

.chart-body {
  margin-top: -26px;
}
